{% extends "base.html" %}

{% block content %}
<div class="container">
    <form action="{{ submit_url }}" method="post">
        <div class="form-group p-3">
        {% for field in form %}
            {{ field.label }}
            {{ field(class_="form-control") }}
        {% endfor %}
        </div>

        <div class="d-flex flex-row">
            <button type="submit" class="btn-primary btn">Confirm</button>
            {% if delete_url %}
                <button class="btn btn-danger" formaction="{{ delete_url }}">Delete</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
