{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-row">
            <h2>Composers</h2>
            <form action="{{ url_for('.create_new') }}">
                <button class="btn btn-primary mx-4" type="submit">Create</button>
            </form>
        </div>
        {% if composers %}
        <table class="table">
            <tbody>
                {% for composer in composers %}
                <tr>
                    {% if composer.death_year %}
                    <td>{{ composer.name }}
                        ({{ composer.birth_year }} - {{ composer.death_year }})
                    </td>
                    {% else %}
                    <td>{{ composer.name }}
                        (born {{ composer.birth_year }})
                    </td>
                    {% endif %}
                    <td>
                        <form action="{{ url_for('.edit', composer_id=composer.composer_id) }}">
                            <button class="btn-primary btn" type="submit">
                            Edit
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>There are currently no composers, create one to get started.</p>
        {% endif %}
    </div>
{% endblock content %}
