{% extends "base.jinja2" %}
{% block content %}
    <div class="card p-2 mx-auto my-5" style="width: 18rem;">
        <h5 class="card-title">Login</h5>
        <p class="card-text">Login to Spotify Opus to begin demo</p>

        <form action="" method="post">
            <input type="hidden" name="csrf_token" value="{{  csrf_token()  }}">
            <button type="submit" class="btn btn-primary">Begin</button>
        </form>
    </div>
{% endblock %}
