{%  extends "base.jinja2" %}

{% block content %}
{% if results %}
    {% for category in results %}
    <div class="container-fluid mt-5">
        <h2>{{ category.name }}</h2>
        <div class="row">
            {% for item in category.items %}
            <div class="col-sm-6 col-md-4">
                <div class="card my-2 mx-3 p-2">
                    <img src="{{item.image_url}}" class="card-img-top" alt="">
                    <h5 class="card-title">{{ item.primary_label }}</h5>
                    {% for label in item.sec_labels %}
                    <strong class="card-text">
                        {{ label }}
                    </strong>
                    {% endfor %}
                    <a href="{{ item.url }}" class="btn btn-primary px-5">Select</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="mt-5">
        <h2>No Results found</h2>
    </div>
{% endif %}

{% endblock content %}
