{% extends "base.jinja2" %}

{% block content %}
    <div class="container">
        <h2 class="p-3">Works by {{ composer }}</h2>
        {% if works %}
        <table class="table">
            <tbody>
                {% for work in works %}
                <tr>
                    <td>
                    <a href="{{ url_for('performance.get_by_work', work_id=work.work_id) }}">
                        {{ work.name }}
                    </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>There are no works by this composer in the database.</p>
        {% endif %}
    </div>
    <div class="m-auto">

        {{ pagination.links }}
    </div>
{% endblock content %}
